---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Paulo Gabriel Bom Sucesso Machado</div>
  </div>

  <div class="mb-10 text-justify">
    Aos 21 anos, técnico em mecânica, e atualmente estudando programação. <br>
    Buscando cada vez mais novos conhecimentos, com o foco em enriquecer o início dessa jornada no mercado de trabalho. Com uma grande facilidade para trabalhar em grupo e estando sempre a total disposição para novos desafios.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP"
      subtitle="2019 a 2022 em São José dos Campos - SP"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Fundador"
      subtitle="dez 2022 - dias atuais, de forma autônoma, na cidade de Jacareí - SP"
    >
      Fundador e único operador de empresa de manutenção de computadores e notebooks. Realizei atendimento, vendas, manutenção, compras, controle de caixa e gerenciamento de redes sociais.
    </TimeLineElement>
    <TimeLineElement
      title="Assistente administrativo"
      subtitle="ago 2022 - dias atuais, na empresa Hytech Vale Pneumática e Hidráulica, na cidade de Jacareí - SP"
    >
    Fazer orçamentos, gerar pedidos, NF-e, cadastro e conrole de peças no estoque, através do sistema Genesis. <br>
    Montagem de mangueiras hidráulicas, separação de peças hidráulicas e pneumáticas de acodo com as especificações. <br>
    Posicionamento nas redes sociais, vendas, requisições de compras, suporte de hardware. <br> <br>
    Eu refiz o site da empresa, que estava desatualizado e feito em wordpress, para código puro HTML, CSS, JavaScript.
    </TimeLineElement>
    <TimeLineElement
      title="Técnico em manutenção de computadores"
      subtitle="mar de 2022 - jun de 2022, na empresa Oficina do micro, na cidade de Jacareí - SP"
    >
    Manutenção e limpeza geral em computadores e notebooks. <br>
    Entrada e saída dos equipamentos no sistema. <br>
    Atendimento ao cliente. <br>
    Linpeza e oranização do ambiente de trabalho.
    </TimeLineElement>
    <TimeLineElement
      title="Estagiário de serviços gerais"
      subtitle="ago de 2020 - dez de 2021, na empresa Main Service, na cidade de Jacareí - SP"
    >
    Responsavel pelos serviços logísticos da empresa bem como: entrada e saída de equipamentos, todos os recebimentos e despachos feitos por transportadora, elaboração e implentação de melhorias nos processos internos, transferências de peças, leituras de notas fiscais e contratos de prestação de serviços.
    </TimeLineElement>
    <TimeLineElement
      title="Vendedor"
      subtitle="maio de 2016 - ago de 2017, de forma autônoma, na cidade de Jacareí - SP"
    >
    Vendia salgados e refrigerantes nas ruas de Jacareí. <br>
    Cuidava de toda a logística com o os fornecedores, com a entrega dos salgados e refrigerantes e de recebimento.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificados</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://cursos.onebitcode.com/cert/Lyr8kCe9QbKtPJx" target="_blank"> Start - HTML, CSS e JavaScript</a>
    </li>
    <li>
      <a href="https://cursos.onebitcode.com/cert/3loPSrdBNLUJzru" target="_blank"> CSS Moderno</a>
    </li>
    <li>
      <a href="https://assets.staart.com/app/_k/1241fafc-72ae-4f72-8bc4-e13b2b003ecb/323ae098-1624-4e24-8607-1f3a04718b11-496ce1bb-9dfc-48fa-91d7-db6bb375584b.pdf" target="_blank"> Suas Primeiras Linhas de Código (JS)</a>
    </li>
    <li>
      <a href="https://assets.staart.com/app/_k/1241fafc-72ae-4f72-8bc4-e13b2b003ecb/a69ee6be-b292-4cb9-a9a5-36481689a800-496ce1bb-9dfc-48fa-91d7-db6bb375584b.pdf" target="_blank"> Descomplicando as Estruturas de Dados (JS)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Competências</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>HTML5</li>
    <li>CSS3</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    <li>SASS</li>
    <li>React JS</li>
    <li>Astro</li>
    <li>Python</li>
    <li>Notion</li>
    <li>Excel</li>
    <li>Photoshop</li>
  </ul>
</BaseLayout>
