---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Paulo Gabriel Bom Sucesso Machado</div>
  </div>

  <div class="mb-10 text-justify">
    Aos 21 anos, técnico em mecânica, e atualmente estudando programação. <br>
    Buscando cada vez mais novos conhecimentos, com o foco em enriquecer o início dessa jornada no mercado de trabalho. Com uma grande facilidade para trabalhar em grupo e estando sempre a total disposição para novos desafios.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Formação acadêmica</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Instituto Federal de Educação, Ciência e Tecnologia de São Paulo - IFSP"
      subtitle="2019 a 2022 em São José dos Campos - SP"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experiência</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Fundador"
      subtitle="Desde 2020 até os dias atuais, na empresa Maintech, na cidade de Jacareí - SP"
    >
      Fundador e único operador de empresa de manutenção de computadores e notebooks. Realizei atendimento, vendas, manutenção, compras, controle de caixa e gerenciamento de redes sociais.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
    <TimeLineElement
      title="Job Title at Project or Company Name"
      subtitle="From [Start Date] to [End Date] at [Company], [City], [Country]"
    >
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certificados</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Competências</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
    <li>Skill Name</li>
  </ul>
</BaseLayout>
