---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";
import createSlug from "../lib/createSlug"

const posts = (await getCollection("blog")).sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const last_posts = posts.slice(0, 3);
---

<!-- Presentation -->

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Ei 👋</div>
    <div class="text-5xl font-bold">Olá 👋 sou Paulo Gabriel</div>
    <div class="text-3xl py-3 font-bold">Desenvolvedor front-end júnior e empreendedor</div>
    <div class="py-2">
      <text class="text-lg">
        Este é o <b>Astrofy</b>, um modelo de portfólio pessoal gratuito e de código aberto criado com Astro e TailwindCSS.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="https://twitter.com/mpaulogabriel" target="_blank"> Vamos nos conectar!</a>
    </div>
  </div>

  <!-- Projects -->

  <div>
    <div class="text-3xl w-full font-bold mb-2">Meus melhores projetos {"</>"}</div>
  </div>

  <div class="divider my-0"></div>
  <HorizontalCard
    title="Design responsivo de site de academia"
    img="/gym.png"
    desc="Desenvolvi um site de academia responsivo em HTML, CSS e JavaScript, com animações ao rolar, cálculo de IMC e envio de e-mails. Adotado o método Mobile First, compatível com dispositivos móveis e interface agradável."
    url="https://github.com/pgbsm/lp-personal" target="_black"
    badge="NEW"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Landing Page Next Vale"
    img="/next_vale.jpg"
    desc="Desenvolvi uma landing page para empresa de infraestrutura de TI, com design moderno, descrições claras e recursos responsivos, incluindo links internos/externos e integração do Google Maps."
    url="http://www.nextvale.com.br/" target="_black"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Landing Page Oficina do Micro"
    img="/oficina_do_micro.png"
    desc="Desenvolvi uma landing page para empresa do ramo de assistência técnica, com design moderno, descrições claras e recursos responsivos, incluindo links internos/externos e integração do Google Maps."
    url="https://www.oficinadomicrojacarei.com.br/" target="_black"
    badge="FOSS"
  />

  <!-- Blog -->

  <!-- <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest from blog</div>
  </div>

  {
    last_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/blog/" + createSlug(post.data.title, post.slug)}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout> -->
