---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">Projetos 2024</div>
  </div>

  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Landing Page para o ramo automotivo"
    img="/peliculas.png"
    desc="Desenvolvi uma landing page para empresa do ramo automotivo, responsivo em HTML, CSS e JavaScript, com design moderno, descrições claras e recursos responsivos, incluindo links internos/externos, tabela e cards."
    url="http://www.nextvale.com.br/" target="_black"
    badge="NEW"
  />
  <HorizontalCard
    title="Site de academia"
    img="/gym.png"
    desc="Desenvolvi um site de academia responsivo em HTML, CSS e JavaScript, com animações ao rolar, cálculo de IMC e envio de e-mails. Adotado o método Mobile First, compatível com dispositivos móveis e interface agradável."
    url="https://github.com/pgbsm/lp-personal"
  />

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Projetos 2023</div>
  </div>

  
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Landing Page Next Vale"
    img="/next_vale.jpg"
    desc="Desenvolvi uma landing page para empresa de infraestrutura de TI, com design moderno, descrições claras e recursos responsivos, incluindo links internos/externos e integração do Google Maps."
    url="http://www.nextvale.com.br/" target="_black"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Landing Page Oficina do Micro"
    img="/oficina_do_micro.png"
    desc="Desenvolvi uma landing page para empresa do ramo de assistência técnica, com design moderno, descrições claras e recursos responsivos, incluindo links internos/externos e integração do Google Maps."
    url="https://www.oficinadomicrojacarei.com.br/" target="_black"
  />
  <HorizontalCard
    title="Site Hytech Vale"
    img="/hytech.png"
    desc="Desenvolvi um site para uma empresa do seguimento industrial, com design moderno, descrições claras e recursos responsivos, incluindo links internos/externos e integração do Google Maps."
    url="#"
    badge="OLD"
  />
</BaseLayout>
